body {
    margin: 0;
    padding: 0;
}

.tall-section {
    background-color: #f8f9fa;
    height: 1000px;
    padding: 20px;
}

.navbar-collapse {
    background-color: #343a40; /* Dark background for mobile menu */
}

.navbar-collapse ul li a {
    color: white;
    text-align: center;
    display: block;
    padding: 10px 0;
    font-weight: bold;
}

.navbar-collapse ul li a:hover {
    background-color: #495057;
}
